.title {
  text-align: center;
}

/* Form Layout */

.form {
  min-width: rem(300);
}

.form > * {
  margin-bottom: 1em;
}

.form ul {
  padding: 0;
}

.form li {
  font-size: 0.8rem;
  list-style: none;
}

/* Form Layout - Errors */

ul.errors {
  list-style-type: none;
  padding: 0;
}

ul.errors > * {
  text-decoration-style: none;
}

/* Password Instructions */

.instructionContainer {
  display: grid;
  grid-template-columns: 3ch 1fr;
}

.icon {
  align-self: center;
  height: 0.8rem;
  width: 0.8rem;
}

.instructionContainer > p {
  margin: 0;
}

/* Utility */

.valid {
  color: green;
}

.invalid {
  color: red;
}
