ul.errors {
  list-style-type: none;
  padding: 0;
}

ul.errors > * {
  text-decoration-style: none;
}

.form > * {
  margin-bottom: 1em;
}

.form ul {
  padding: 0;
}

.p {
  color: red;
  font-size: 0.8rem;
}

.form li {
  font-size: 0.8rem;
  list-style: none;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.instructionContainer {
  display: grid;
  grid-template-columns: 3ch 1fr;
}

.icon {
  align-self: center;
  height: 0.8rem;
  width: 0.8rem;
}

.instructionContainer > p {
  margin: 0;
}
