ul.errors {
  list-style-type: none;
  padding: 0;
}

ul.errors > * {
  text-decoration-style: none;
}

.form > * {
  margin-bottom: 1em;
}

.form ul {
  padding: 0;
}

.form .p {
  color: black;
  font-size: 0.8rem;
}

.form li {
  font-size: 0.8rem;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
