.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

@media (min-width: $mantine-breakpoint-sm) {
  .footer {
    padding-left: var(--app-shell-navbar-width);
  }
}
