.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.burger {
  grid-column-start: 1;
  margin-left: 1em;
}

.logo {
  grid-column-start: 2;
  justify-self: center;
}

@media (min-width: $mantine-breakpoint-sm) {
  .logo {
    grid-column-start: 1;
    justify-self: start;
    margin-left: 1em;
  }
}
